spring:
  flyway:
    enabled: true
    baseline-on-migrate: true
  datasource:
    url: ${DB_URL}
    username: postgres.${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
